@font-face{
    font-family:"roboto";
    src:url("../1ère\ Partie/fonts/roboto-bold.ttf");
}

nav a:link{
    color:brown;
}

nav a:visited{
    color:orange;
}

.afooter{
    color:red;
}

.afooter:hover {
    color: tomato;
}

.afooter:active{
    color: #0000FF
}


p{
    color:blue;
    font-family:"roboto";
    text-align: center;
    font-size: large;
}

#monid{
    color:red;
}

.maclasse{
    color:orange;
}

.menu{
    display:inline;
    font-family:"roboto";
}